.card {
    border-radius: 15px;
    margin: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


.card-image {
    height: 100%;
    position: absolute;
    z-index: 0;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.3), transparent);
    color: rgba(255,255,255,1);
}

.card-name {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.card-age {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.card-gender {
    position: absolute;
    top: 1rem;
    z-index: 2;
    right: 1rem;
}

.card-gender img {
    height: 30px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    margin: auto;
}