.list {
    display: grid;
    gap: 10px;
}

/* media query for mobile */
@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* media query for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* media query for desktop */
@media (min-width: 1024px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}
